/ {
    aliases {
        led0 = &relay0;
    };

    relays {
        compatible = "gpio-leds";
        relay0: relay_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Relay MOSFET Gate";
        };
    };
};
