/ {
    aliases {
        relay0 = &relay_out;
    };

    relays {
        compatible = "gpio-leds";
        relay_out: relay_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Relay MOSFET Gate";
        };
    };
};
